@font-face {
  font-family: "mumino";
  src: url("./fonts/regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "mumino";
  src: url("./fonts/medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "mumino";
  src: url("./fonts/bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "mumino";
  src: url("./fonts/black.ttf") format("truetype");
  font-style: 800;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "mumino", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
